<div class="page" [style.display]="getVisibility(1)">

  <!-- Navigation -->
  <nav class="navigation">

    <a routerLink="/dashboard" routerLinkActive="active" class="header-logo">Blind Walls Gallery</a>

    <div id="hamburger" (click)="changeDisplay()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>

<div class="hamburger-menu" [style.display]="getVisibility(0)">
  <a href="javascript:window.location.href=window.location.href" class="close"></a>
  <ul class="hamburger-nav" (click)="changeDisplay()">
    <li [routerLink]="['/map']" class="list-item">Map</li>
    <li [routerLink]="['/routes']" class="list-item">Routes</li>
    <li [routerLink]="['/muraloverview']" class="list-item">Murals</li>
  </ul>
</div>
