<div class="detail-page">
  <div>

    <div class="img-box">
      <img class="img-start" [src]="['https://api.blindwalls.gallery/' + mural.images[0].url.toLowerCase()]" alt="">
    </div>

    <div class="information">
      <div class="author">{{mural.author}}</div>
      <p><strong>Location: - </strong> {{mural.address}}</p>
      <p><strong>Material: - </strong> {{mural.material.en}}</p>
      <p><strong>Year: - </strong> {{mural.year}}</p>
      <p><strong>Photography: - </strong> {{mural.photographer}}</p>
      <p><strong>Video: - </strong> {{mural.videoAuthor}}</p>
    </div>

    <div class="img-box">
      <img class="img-start" [src]="['https://api.blindwalls.gallery/' + mural.images[1].url.toLowerCase()]" alt="">
    </div>

    <div class="information description-constraint">
      <p>{{mural.description.en}}</p>
    </div>

    <div class="box">
      <div *ngFor="let image of mural.images | slice:2; let i = index" class="img-detail-box">
        <img class="img-detail-start" [src]="['https://api.blindwalls.gallery/' + image.url.toLowerCase()]" alt="">
      </div>
    </div>
  </div>
</div>
