<div class="info-box">
  <div class="map-header">
    <h1>Murals</h1>
  </div>
</div>

<div class="decoration-box">  </div>

<div class="map-box">

<agm-map #gm [latitude]="51.58307" [longitude]="4.7769505" [zoom]="15">

  <agm-marker [label]="mural.numberOnMap.toString()"
              *ngFor="let mural of murals"
              [latitude]="mural.latitude"
              [longitude]="mural.longitude"
              (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow;">
    <agm-info-window #infoWindow>
      <h2>{{ mural.title.en }} - {{ mural.address}}</h2>
      <img [src]="['https://api.blindwalls.gallery/' + mural.images[0].url.toLowerCase()]">
      <p>{{ mural.description.en }}</p>
      <!-- Open detailview align right? -->
      <a href="/detail/{{mural.id}}">Read more..</a>
    </agm-info-window>
  </agm-marker>

</agm-map>
</div>
