<div class="page" [style.display]="getVisibility(1)">

  <!-- Navigation -->
  <nav class="navigation">

    <a routerLink="/dashboard" routerLinkActive="active" class="header-logo">Blind Walls Gallery</a>

    <div id="hamburger" (click)="changeDisplay();">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>

<div class="hamburger-menu" [style.display]="getVisibility(0)">
  <a href="#" class="close" (click)="changeDisplay()"></a>
  <ul class="hamburger-nav">
    <li [routerLink]="['/map']" class="list-item">Map</li>
    <li [routerLink]="['/route']" class="list-item">Route</li>
    <li [routerLink]="['/muraloverview']" class="list-item">Muren</li>
  </ul>
</div>
