<h1>Routes</h1>
<h2>Select a route</h2>
<ul>
  <li (click)="selectRoute(1)">Route 1</li>
  <li (click)="selectRoute(2)">Route 2</li>
  <li (click)="selectRoute(3)">Route 3</li>
</ul>
<br/>

<agm-map *ngIf="generatedRoute != undefined" [latitude]="generatedRoute[0].latitude" [longitude]="generatedRoute.length.longitude" [zoom]="15">


  <appSebmMap *ngIf="generatedRoute.length != undefined" [startingPoint]="generatedRoute[0]" [destination]="generatedRoute[generatedRoute.length]" [wayPoints]="generatedRoute">


  </appSebmMap>

</agm-map>


